/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
!storage/app/public/.gitkeep
/public/hot
/public/storage
/public/build



.cursor/
