RewriteEngine On

# Перенаправление всех запросов на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Настройки для безопасности
<Files "composer.json">
    Order deny,allow
    Deny from all
</Files>

<Files "composer.lock">
    Order deny,allow
    Deny from all
</Files>

# Запрет доступа к скрытым файлам
<FilesMatch "^\.">
    Order deny,allow
    Deny from all
</FilesMatch>

# Настройки PHP
php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value max_execution_time 300
